<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- This is a control plugin to allow us to drive the robot around in Gazebo -->
    <!-- Command: source install/setup.bash && ros2 run teleop_twist_keyboard teleop_twist_keyboard -->

    <gazebo>

        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">


            <!-- Wheel Information -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.35</wheel_separation>
            <wheel_radius>0.05</wheel_radius>
    

            <!-- Limits -->
            <max_torque>200</max_torque>
            <max_acceleration>10.0</max_acceleration>
    

            <!-- Output -->
            <odom>odom</odom>
            <base_frame>base_link</base_frame>

            <publish_odom>1</publish_odom>
            <publish_odom_tf>1</publish_odom_tf>
            <publish_wheel_tf>1</publish_wheel_tf>

            <topic>cmd_vel</topic>
    
    
        </plugin>

    </gazebo>

</robot>