<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- CAMERA -->
    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="0.305 0 0.08" rpy="0 0 0"/>
    </joint>

    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.010 0.030 0.030"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>
    
    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <!-- OPTICAL FRAME -->
    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <!-- Rotate ROS frame to optical frame: +x->right, +y->down, +Z->forward -->
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="camera_link_optical"/>
    


    <!-- CAMERA TYPES IN GAZEBO:
        type="camera" for non-depth sensing cameras
        type="depth_camera" for depth sensing cameras
        type="rgbd_camera" for depth sensing AND rgb sensing cameras
        You will also 1. need to enable/disable the appropriate settings below and 2. change the bridge yaml
    -->
    <gazebo reference="camera_link">
        <sensor name="camera" type="depth_camera">
            <always_on>true</always_on>
            <visualize>true</visualize>        <!-- Enable camera view in Gazebo client -->
            <update_rate>10</update_rate>      <!-- 10 Hz publish rate -->
            <!--<topic>camera/image_raw</topic>-->    <!-- Gazebo Transport topic for images, NO DEPTH -->
            <topic>depth/image</topic>    <!-- Gazebo Transport topic for images, YES DEPTH -->
            <point_cloud_topic>trye</point_cloud_topic> <!-- ONLY FOR DEPTH SENSING CAMERAS, COMMENT OUT OTHERWISE -->
            <camera name="robot_camera">
            <!--<camera_info_topic>camera/camera_info</camera_info_topic>--> <!-- For no depth -->
            <camera_info_topic>depth/camera_info</camera_info_topic> <!-- For yes depth -->
            <horizontal_fov>1.089</horizontal_fov>      <!-- ~62.4 degrees HFOV -->
            <image>
                <width>640</width>
                <height>480</height>
               <!-- <format>R8G8B8</format>-->                   <!-- 8-bit RGB image, for no depth, also used for rgbd_camera -->
                <format>DEPTH16</format>                   <!-- 32-bit float depth, only use one of these. Use -->
            </image>
            <clip>
                <near>0.05</near>
                <far>8.0</far>
            </clip>
            </camera>
        </sensor>
    </gazebo>


</robot>